@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import "tailwindcss";

/* * {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: 'Handlee', sans-serif;
  background-color: #fff9db;
  color: #846358;
  @apply h-full w-full;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@theme {
  --color-primary-bg: #fff9db;
  --color-primary-stroke: #846358;
  --color-secondary-bg: #ded2ad;
  --font-handlee: "Handlee", sans-serif
}